*{
 margin: 0px;
 padding: 0px;
}
body{
 background-color: rgb(13, 91, 101);
 text-align: center;

}
.container{
 height: 70vh;
 display: flex;
 /* flex-wrap: wrap; */
 justify-content: center;
 align-items: center;
 gap: 1.5vmin;
}
.game{
 height: 60vmin;
 width: 60vmin;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 1.5vmin;
}
.box{
 height: 18vmin;
 width: 18vmin;
 border-radius: 1rem;
 border: none;
 box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
 font-size: 8vmin;
 color: rgb(100, 40, 40);
 background-color: rgb(58, 160, 24);
}
.box1{
 color: blue;
}
.reset-btn{
 padding: 1rem;
 background-color: rgb(36, 38, 37);;
 color: #fff;
 font-size: 1.25rem;
 border-radius: 1rem;
 text-align: center;
 border: none;
}
#new-btn{
 padding: 1rem;
 background-color: rgb(36, 38, 37);
 color: #fff;
 font-size: 1.25rem;
 border-radius: 1rem;
 text-align: center;
 border: none;
}
#msg{
 color: rgb(220, 164, 25);
 font-size: 5vmin;
}
.msg-container{
 height: 15vmin;
}
.hide{
 display: none;
}